.header {
  display: flex;
  justify-content: space-between;
  transition: cubic-bezier();
}

.header > * {
  max-width: 33%;
}

.header a {
  display: inline-block;
}

.header a:after,
.header-expand-bio:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #ffffff;
  width: 100%;
}

.header-expand-bio {
  display: inline-block;
}

.header-expand-bio:hover {
  font-style: italic;
}

.header-bio,
.header-info {
  display: flex;
  flex-direction: column;
}

.header-details {
  margin-left: 100px;
}

.header-links {
  position: relative;
  top: 3px;
}

.header-hide {
  display: none;
}

@media (max-width: 960px) {
  .header-birf {
    display: none;
  }

  .header {
    flex-direction: column;
  }

  .header > * {
    max-width: 100%;
  }

  .header-details {
    margin-left: 0;
  }
}