/* Header styles */

header {
  color:var(--offwhite);
}

header a {
  color: var(--white);
}

header a:hover:after{
  background: var(--white) !important;
  width: 100% !important;
}

header.invert a {
  color: var(--black);
  display: inline-block;
}

header.invert a:after {
  content: '';
  display: block;
  height: 1.8px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

header.invert a:hover:after{
  background: var(--black) !important;
  width: 100% !important;
}

/* Hero styles */
.hero_wrapper, .hero_container {
  background: var(--black);
}

.hero_container {
  padding: 50px 50px 50px 50px;
  width: 100%;
}

.hero_container img {
  margin: 100px auto;
}