/* Header styles */

header {
  color: var(--black);
}

header a:hover:after {
  background: var(--black) !important;
  width: 100% !important;
}

/* Hero styles */

.hero_container {
  background: var(--offwhite);
  padding: 150px 0px 100px 0px;
}

.hero_container img {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 25px;
  padding-right: 25px;
}
