
* { box-sizing: border-box; }

@font-face {
  font-family: 'GerstnerProgramm';
  src: url('./../fonts/GerstnerProgramm.otf'); /* IE9 Compat Modes */
  }

@font-face {
    font-family: 'GerstnerProgrammItalic';
    src: url('./../fonts/GerstnerProgrammItalic.otf'); /* IE9 Compat Modes */
    }

header{
  font-family: 'GerstnerProgramm',sans-serif;
  color: #FEFCF7;
  letter-spacing: 0.02px;
  position: fixed;
  width: 100%;
  padding: 25px;
  top: 0;
  left: 0;
  z-index: 100;
}
header a {
  color: white;
  display: inline-block;
}


header a:hover {
  font-style: italic;
}

header a:after {
  content: '';
  display: block;
  height: 1.8px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

header a:hover:after{
  width: 100%;
  background: white;

}

header.invert a{
  color:#000;
  display: inline-block;
}


header.invert a:hover {
  font-style: italic;
}

header.invert a:after {
  content: '';
  display: block;
  height: 1.8px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

header.invert a:hover:after{
  width: 100%;
  background: black;

}
.Info{
  position: absolute;
  top: 25px;
  right: 25px;
}

html, body{
  font-family: 'GerstnerProgramm',sans-serif;
  background:#FEFCF7;
  color: #000000;
  letter-spacing: 0.02px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-size: 24px;
}

::selection {
  color: white;
  background-color: black;
}

a {
    color:#000000;
    text-decoration: none;
}


ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero_wrapper {
  height: 80vh;
  background: #000000;
}

.hero_container {
  width: 100%;
  background: #000000;
}

.hero_container.black {
  background: #000000;
  padding:50px 50px 50px 50px;
  width: 100%;
}

.hero_container img {
  max-height: 250px;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 100px auto;
  display: table;
}

.footernav{
  background: black;
  padding-top: 10px;
  padding-bottom: 40px;
}

.workfooter{
  margin: 50px 0 0 100px;

}

.workfooter li a {
  display: inline-block;
  color: white;
}

.workfooter li a:hover {
  font-style: italic;
}

.workfooter li a:after {
  content: '';
  display: block;
  height: 1.8px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.workfooter li a:hover:after{
  width: 100%;
  background: white;

}

li {
  margin: 0 0 20px 0;
}


#project {
    text-align: left;
    margin: 30px 100px 0px 100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project_title{
  width: 230px;
  padding-bottom: 30px;
}
.sub{
  margin-top: 10px;
  font-size: .9em;
  width: 300px;

}
.duration{
  margin-top: 10px;
  font-size: .9em;

}
.project_description{
  text-align: left;
  font-size: 1em;
  line-height: 1.5;
  width: 600px;
}
.project_content{
  margin-top: 80px;
  width: 100%;
}

.project_image{
    display: block;
    width:100%;
    padding: 0 0 65px 0;
}

.project_image img{
  width: 100%;
  display: table;
}

.video-style{
  width: 100%;
  display: block;
  vertical-align: center;
}

.caption{
  margin: 35px 115px 0 115px;
}
.caption2{
  text-align: left;
  line-height: 1.5;
  margin: 35px 100px 0px 0px;
  width: 600px;
}
.footer{
    margin: 0 0 10px 0;

}


.slick-arrow{
height:100%;
width: 50%;
z-index: 100;
top: 0;
position: absolute;

}
.slick-arrow, .slick-arrow .cursor-arrow{
  cursor: none;
}
.slick-arrow:hover .cursor-arrow{
  display: block;

}
.slick-next{
right: 0;

}
.slick-prev{
left: 0;
}

.slick-arrow.slick-next .cursor-arrow{
  background-image: url(./../img/next.svg);
}
.slick-arrow.slick-prev .cursor-arrow{
  background-image: url(./../img/prev.svg);
}

.cursor-arrow{
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  display: none;
  margin: -25px 0 0 -25px;
  pointer-events: none;
}

.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 20px;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.slick-dots li button {
    font-size: 10px;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}


@media only screen and (max-width: 1125px) {

  .html body{
    font-size: 1.3em;
  }

  #project{
    margin-left: 0;
    margin-right: 0;
  }
  .project_title, .project_description, .workfooter, .caption, .caption2{
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

  }


.slick-arrow:hover .cursor-arrow{
  display: none;

}
.slick-next{
right: 0;

}
.slick-prev{
left: 0;
}

}
