:root {
  --black: #000;
  --white: #fff;
  --offwhite: #fefcf7;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GerstnerProgramm";
  src: url("./../fonts/GerstnerProgrammRegular.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "GerstnerProgrammItalic";
  src: url("./../fonts/GerstnerProgrammRegularItalic.otf"); /* IE9 Compat Modes */
}

body {
  font-family: "GerstnerProgramm", sans-serif;
  font-size: 22px;
}

body a:hover {
  font-style: italic;
}

a {
  text-decoration: none;
}


ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.underlined {
  position: relative;
}

.underlined:after {
  content: "";
  position: absolute;
  bottom: -2px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
  height: 1.8px;
  width: 100%;
  background: var(--white);
}

.underlined.animated:after {
  transition: width 0.8s ease, background-color 0.8s ease;
  background: transparent;
  width: 0%;
}