:root {
  --underline-width: 80%;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GerstnerProgramm";
  src: url("./../fonts/GerstnerProgrammRegular.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "GerstnerProgrammItalic";
  src: url("./../fonts/GerstnerProgrammRegularItalic.otf"); /* IE9 Compat Modes */
}

body {
  font-size: 22px;
  font-family: "GerstnerProgramm", sans-serif;
  background: #000000;
  color: #ffffff;
  letter-spacing: 1px;
  padding-top: 25px;
  margin: 0 25px;
}

::selection {
  color: black;
  background-color: white;
}

body a:hover {
  font-style: italic;
}

@media (max-width: 480px) {
  body {
    margin: 0 2em;
  }
}

@media (max-width: 960px) {
  body {
    font-size: 20px;
    line-height: 24px;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.work {
  margin-top: 100px;
}

.work li {
  margin: 0 0 40px 0;
}

.work li a {
  display: inline-block;
  width: 100%;
}

.work li a:hover {
  font-style: italic;
}

.work img {
  width: 1100px;
  position: fixed;
  top: 200px;
  left: 400px;
  opacity: 0;
  z-index: -1;
  transition: opacity 600ms;
  transform: translate(-50%, -50%);
}

.work li a:hover img {
  opacity: 0.6;
}

.work-items {
  display: grid;
  white-space: nowrap;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr)); 
}

.text-node:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  width: 0%;
  transition: width 1s ease, background-color 1s ease;
}

.work-items:hover .text-node:after {
  background-color: white;
  width: 100%;
}

.work-items li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}


@media (min-width: 960px) {
  .work-items .work-items-tags {
    margin-left: 100px;
  }
}

.work-items .work-item-year {
  justify-content: flex-end;
}

@media (max-width: 960px) {
  .work-items .work-item-year {
    justify-content: flex-start;
  }
}