@import './shared.css';

/* General */

body {
  background: var(--black);
  letter-spacing: 0.5px;
  overflow: hidden;
}

body, a {
  color: var(--white);
}


::selection,
.highlighted {
  color: var(--black);
  background-color: var(--white);
  border-radius: 2px;
}

.highlighted-paragraph {
  display: inline-block;
}

.cloneParagraph {
  margin: 0;
}

.hideHighlightedElement {
  opacity: 0;
}

.notSelectable {
  user-select: none;
}

@media (max-width: 960px) {
  body {
    font-size: 20px;
    margin: 0 2em;
  }
}

.blur-wrapper {
  padding-top: 25px;
  margin: 0 25px;
}

.blur,
.blur-span {
  filter: blur(3px);
}

/*TODO: delete after testing*/
.red {
  color: red;
}

/* Work styles */

.work {
  margin-top: 100px;
  user-select: none;
}

.work li {
  margin: 0 0 40px 0;
}

.work li a {
  display: inline-block;
  width: 100%;
}

.work img {
  width: 1100px;
  position: fixed;
  top: 200px;
  left: 400px;
  opacity: 0;
  z-index: -1;
  transition: opacity 600ms;
  transform: translate(-50%, -50%);
}

.work li a:hover img {
  opacity: 0.6;
}

.work-items {
  display: grid;
  white-space: nowrap;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr)); 
}

.work-items:hover .text-node:after {
  background-color: var(--white);
  width: 100%;
}

.work-items li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

@media (min-width: 960px) {
  .work-items .work-items-tags {
    margin-left: 100px;
  }
}

.work-items .work-item-year {
  justify-content: flex-end;
}

@media (max-width: 960px) {
  .work-items .work-item-year {
    justify-content: flex-start;
  }
}